.loginPage{  
    width: 30%;
    overflow: hidden;
    margin: auto;
    padding: 1% 1% 2% 2%;
    background: #23463f;
    border-radius: 15px;
    margin-top: 6%;      
}  

.text-center{    
    text-align: center;
    font-size: 20px;
}

.styleContents {
    width: 100%;
    padding-bottom: 6%;
}

.labelName {
    float: left;
    width: 40%;
}

.btns{
    display: flex;
    justify-content: space-between;
}